@if (player()) {
  <div class="header">
    <button mat-icon-button (click)="router.navigate(['/players'])">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h1 class="page-title">{{ player()!.firstName }} {{ player()!.lastName }}</h1>
    <button mat-flat-button color="primary" (click)="openEditDialog()">
      <mat-icon>edit</mat-icon>
      Edit
    </button>
  </div>
  <mat-card>
    <mat-card-content>
      <dl class="info-list">
        <dt>Number</dt><dd>{{ player()!.number }}</dd>
        <dt>Position</dt><dd>{{ player()!.position }}</dd>
        <dt>Birth Date</dt><dd>{{ player()!.birthDate }}</dd>
        <dt>Height</dt><dd>{{ player()!.height ? player()!.height + ' cm' : '-' }}</dd>
        <dt>Team</dt><dd><a [routerLink]="['/teams', player()!.teamId._id]">{{ player()!.teamId.name }}</a></dd>
        <dt>Photo</dt><dd><img [src]="player()!.photo || '/assets/images/avatar.png'" alt="Player Photo" width="100" height="100" /></dd>
      </dl>
    </mat-card-content>
  </mat-card>
} @else {
  <p>Loading...</p>
}
