@if (team()) {
  <div class="header">
    <button mat-icon-button (click)="router.navigate(['/teams'])">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h1 class="page-title">{{ team()!.name }}</h1>
    <button mat-flat-button color="primary" (click)="openEditDialog()">
      <mat-icon>edit</mat-icon>
     გუნდის რედაქტირება
    </button>
  </div>
  <mat-tab-group>
    <mat-tab label="გუნდი">
      <app-team-info-tab [team]="team()!" />
    </mat-tab>
    <mat-tab label="მოთამაშეები">
      <app-team-players-tab [teamId]="teamId()!" />
    </mat-tab>
    <mat-tab label="თამაშები">
      <app-team-matches-tab [teamId]="teamId()!" />
    </mat-tab>
  </mat-tab-group>
} @else {
  <p>Loading...</p>
}
